$shadow: rgba(0,0,0,0.7);
$black: #1a1b26;
$red: #f7768e;
$yellow: #e0af68;
$green: #9ece6a;
$blue: #7aa2f7;
$violet: #bb9af7;
$gray1: #c0caf5;
$gray3: #9aa5ce;
$gray4: #565f89;
$gray5: #414868;
$gray6: #24283b;